<header class="navbar">
    <div class="navbar-inner">

        <div class="logo">
            <img src="../assets/img/logo2.png" alt="Villa Prada">
            <div class="logo-text">
                <strong>EVENTOS VILLA PRADA</strong>
                <span>TU EVENTO PERFECTO</span>
            </div>
        </div>

        <nav class="nav">
            <a href="#inicio">INICIO</a>
            <a href="#paquetes">PAQUETES</a>
            <a href="#servicios">SERVICIOS</a>
            <a href="#galeria">GALERÍA</a>
            <a href="#disponibilidad">DISPONIBILIDAD</a>
            <a href="#contacto">CONTACTO</a>
        </nav>

    </div>
</header>